/* styles/main.css */
body {
  font-family: Arial, sans-serif;
  background: #cceeff;
  color: #222;
  padding: 20px;
}

#app {
  max-width: 800px;
  margin: auto;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}
